<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>385959227937-3luqq2h5pc8dl4nero824ijg3nqksqgt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.385959227937-3luqq2h5pc8dl4nero824ijg3nqksqgt</string>
	<key>API_KEY</key>
	<string>AIzaSyAvPqRBiquec6i7MRtZJO5jDeJf3aQMoR0</string>
	<key>GCM_SENDER_ID</key>
	<string>385959227937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.digitalDataTree</string>
	<key>PROJECT_ID</key>
	<string>digitaldatatreeglobal</string>
	<key>STORAGE_BUCKET</key>
	<string>digitaldatatreeglobal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:385959227937:ios:0ce463342a24be0570e960</string>
</dict>
</plist>